/* This file was provided out of the box for this project */

/* border box-sizing to prevent movement of boxes padding issues */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* zero out the body of the entire page */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* add background color and font */
body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}
/* custom footer properties */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-top: auto;
}
/* initialize generate password button */
button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

/* navigation bar properties */

h2 {
  text-align: center;
  text-decoration: none;
}
hr {
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #eee;
  padding-bottom: 20px;

}
#logo {
  width: 100%;
  height: 90px;
  margin: 0 auto;
  background: #4aaaa4;
  float: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  line-height: 90px;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  text-shadow: -1px 1px 0 #777,
        1px 1px 0 #777,
       1px -1px 0 #777;
}
   
.custom-navbar {
  background-image: linear-gradient(#fff, #4aaaa4);
}  
/* container properties */
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}
/* card bootstrap object properties */
#card {
  background-color: #4aaaa4;
  opacity: .7;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 60px auto;
  max-width: 800px;
  padding: 30px 40px;
  width: 100%;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}
.room {
  margin: 0 20px;
}
/* Slider for user's choice of pass length properties */
#length {
  float: left;
  margin: 0 10px 0 0;
}
#slider {
  margin-top: 10px;
  float: left;
  width: 60%;
}
/* styling for js html text changes */
#output {
  margin: 0 20px;
}
.card-footer {
  text-align: center;
}
/* before and after card footer styling */
.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}
/* styling for generate password button */
#generate {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.float-right {
  float: right;
}
/* generated content in text area */
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 146px;
  border: solid black;
  border: 3px;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: auto;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: auto;
  overflow: hidden;
}
/* media query section */
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
